/* CUSTOM PROPS */
:root	{
	--accent-color: #EA625C ;
	--font-family: "Roboto","Arial", sans-serif;
	--text-color: #333;
	--primary-dark: #da3229;
}

/* GLOBAL */
html	{
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after	{
	box-sizing: inherit;
}


body	{
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: var(--font-family);
	font-size: 16px;
	line-height: 1.5;
	background-color: #fff;
	color: var(--text-color);
}

img	{
	max-width: 100%;
	height: auto;
}

/* OUTLINE STYLE */
*:focus	{
	outline: 2px dashed var(--accent-color);
	outline-offset: 2px;
}


/* CONTAINER */
.container	{
	max-width: 1100px;
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: auto;
	margin-right: auto;
}

/* BUTTON */
.lined-link	{
	display: inline-flex;
	align-items: center;
	font-size: 16px;
	line-height: 1.6;
	font-weight: bold;
	color: var(--accent-color);
	text-transform: uppercase;
	text-decoration: none;
}

.lined-link::before	{
	margin-right: 10px;
	width: 40px;
	height: 3px;
	background-color: var(--accent-color);
	content: "";
	transition: width 0.3s ease;
}

.lined-link:hover::before	{
width: 60px;
}

/* MAIN-CONTENT */
.main-content	{
	flex-grow: 1;
}


/* SITE-HEADER */
.site-header {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #fff;
}

.site-header-container {
	display: flex;
	align-items: center;
}


.logo-link {
	margin-right: auto;
	transition: opacity 0.3s ease;
}

.logo-link:hover	{
	opacity: 0.8;
}

.logo-link:active	{
	opacity: 0.6;
}

.logo-img {
	display: block;
	width: 35px;
	height: 42px;
	object-fit: contain;
}


/* SITENAV */
.sitenav	{
	margin-right: 40px;
}

.sitenav-list {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;
	margin-right: 30px;
}

.sitenav-item:not(:last-child)	{
	margin-right: 30px;
}

.sitenav-link {
	display: block;
	padding-top: 6px;
	padding-bottom: 3px;
	border-bottom: 3px	solid	transparent;
	text-decoration: none;
	color: #333;
	font-size: 15px;
	transition: border-bottom 0.3s ease;
}

.sitenav-link:hover	{
	border-bottom: 3px	solid	#333;
}

/* SEARCH_FORM */
.search-form-input	{
	padding-top: 6px;
	padding-bottom: 6px;
	border: 0;
	border-bottom: 1px solid #333;
}

/* MAIN-LINK */
.main-link	{
	display: inline-block;
	color: #fff;
	background-color: var(--accent-color);
	text-decoration: none;
	padding: 12px 38px;
  border: 0;
	justify-content: center;
	align-items: center;
	width: 260px;
	height: 51px;
	text-align: center;
	font-size: 18px;
	line-height: 1.5;
	font-weight: bold;
	text-transform: uppercase;
	transition: background-color 0.3s ease;
}

.main-link:hover	{
background-color: var(--primary-dark);
}

.main-link:active	{
	opacity: 0.6;
}

/* HERO */
.hero {
	border-bottom: 2px	solid	#ddd;
	padding-top: 140px;
	padding-bottom: 185px;
	color: #000;
	background-image: url("../img/intro-bg.jpg");
	background-repeat: no-repeat;
	background-position: left calc(50% + 550px) bottom;
}


.hero-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero-content {
	width: 100%;
	max-width: 490px;
	margin-right: 245px;
}

.hero-heading	{
	font-family: var(--font-family);
	width: 339px;
	font-size: 40px;
	font-style: 40px;
	line-height: 1.2;
}

.hero-heading {
	text-align: center;
	margin-top: 0;
	margin-bottom: 30px;
	color: #000;
	font-family: var(--font-family);
	font-weight: 700;
	line-height: 1.2;
	font-size: 50px;
}

.hero-text {
	border-left: 3px	solid	#888;
	padding-left: 37px;
	margin-top: 0px;
	margin-bottom: 30px;
	width: 450px;
	height: 120px;
	color: #777;
	font-family: var(--font-family);
}



/* FEATURES */
.features {
padding-top: 70px;
padding-bottom: 70px;
color: #000;
}


.features-list {
	display: flex;
justify-content: space-between;
padding: 0;
margin: 0;
list-style: none;
}

.feature {
	width: 280px;
flex-direction: column;
}

.feature:not(:last-child)	{
	margin-right: 80px;
}

.feature-title {
	text-transform: uppercase;
margin-bottom: 30px;
margin-top: 0;
color: #222;
font-family: var(--font-family);
font-weight: 700;
line-height: 1.5;
font-size: 18px;
}


.feature-info {
margin-top: 0;
margin-bottom: 20px;
color: #333;
font-family: var(--font-family);
font-size: 15px;
font-weight: 400;
line-height: 1.6;
}

.feature-divider	{
	width: 8px;
	height: 8px;
	border: 0;
	margin: 0;
	background-color: #ddd;
box-shadow: 16px 0 0 0 #ddd,
32px 0 0 0 #ddd;
}


/* PROMO */
.promo {
	padding-top: 70px;
	padding-bottom: 70px;
	color: #000;
}

.promo-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.promo-content {
	width: 490px;
}

.container	{
	padding-right: 110px;
}

.promo-heading {
	text-align: center;
  margin-bottom: 30px;
	color: #000;
	font-family: var(--font-family);
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.2;
}


.promo-text {
margin-bottom: 30px;
margin-left: 40px;
	color: #777;
	font-family: var(--font-family);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
}

.promo-img {
	width: 400px;
	height: 599.927px;
	flex-shrink: 0;
	background-image: url("../img/qo\'lda\ soat\ ko\'ryapti.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center	center;
}



/* AKSIYA */
.aksiya {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	background-image: url("../img/runners\ 1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.aksiya-inner- {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 635px;
	margin-bottom: 239.19px;
	margin-right: 125px;
}

.container-aksiya {
width: 490px;
display: inline-flex;
flex-direction: column;
align-items: flex-start;

}

.aksiya-content- {
		text-align: center;
		margin-bottom: 30px;
		color: #fff;
		font-family: var(--font-family);
		font-size: 50px;
		font-style: normal;
		font-weight: 700;
		line-height: 1.2;
	}

.aksiya-heading {
	margin-top: 240px;
	text-align: center;
	margin-bottom: 30px;
	color: #fff;
	font-family: var(--font-family);
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.2;
}


.aksiya-text {
	margin-top: 0;
	margin-bottom: 30px;
	color: #FFF;
	font-family: var(--font-family);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
}

/* RETINA BG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
.hero	{
	background-image: url("../img/intro-bg.jpg");
}

.aksiya	{
	background-image: url("../img/runners\ 1@2x.jpg");
}

}